/* General */
 * {
    margin:0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


body {
    height: 100vh;
    margin: 0;
    font-family: Roboto, sans-serif;
    flex:1;
    display:flex;
    flex-direction: column;
}

.content {
    flex: 1;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.section {
    flex:1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:100px;
}

p {
    color:#a8a8a8;
}

button {
    font-weight: 600;
    background-color:#3882f6;
    color:white;
    border:none;
    border-radius: 5px;
    padding:10px 16px;
}

img {
    max-width: 100%;
    min-width: 0;
    display:block;
}

/* Navigation Bar */
.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:#1f2937;
    padding-left:100px;
    padding-right:100px;
}

h3 {
    color: white;
    font-size: 32px;
}

.nav-links {
    display: flex;
    gap: 30px;
}

a {
    text-decoration: none;
    color:#cdcdcd;
    font-size: 18px;
}


/* Hero Section */
.hero {
    background-color:#1f2937;
}

h1 {
    font-size: 42px;;
    color:white;
}

.hero-col {
    max-width: 400px;
}


/* Info Section */
h2 {
    font-size: 32px;
    color:#1f2937;
}


.info {
    display:flex;
    flex-direction: column;
}

.grid {
    flex:1;
    display: flex;
    gap:30px;
}

.card {
    text-align: center;
}


/* Quote Section */
.quote {
    background-color: #e5e7eb;
}

q {
    font-size:36px;
    color:#1f2937;
    font-weight:200;
    font-style: italic;
}
.quote {
    flex-direction: column;
}

/* CTA Section */
.CTA {
    background-color:#3882f6;
}

.outline {
    border: solid white 2px;
}

h4 {
    color:white;
    font-size:18px;
}

.background {
    color:white;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.footer-text {
    text-align: center;
    color:#e5e7eb;
    background-color: #1f2937;
}


